@tailwind base;
@tailwind components;
@tailwind utilities;

.gg{
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  height: auto;
  justify-content: center;
  max-width: 1280px;
  overflow: visible;
  padding: 80px 32px;
  position: relative;
  width: 100%;
}
.gg div{
  align-content: flex-end;
  align-items: flex-end;
  border-radius: 20px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  height: 24rem;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  transform: perspective(1200px);
  width: 20%;
  z-index: 1;
}
.gg div::after{
  content: "";
    border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
    border-color: var(--border-color, none);
    border-style: var(--border-style, none);
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border-radius: inherit;
    pointer-events: none;
}

